html {
  scroll-snap-type: y mandatory;
}

.app {
  background-color: black;
  display: grid;
  place-items: center;
  margin: 0 auto;
}

.app__videos {
  position: relative;
  height: 700px;
  overflow: scroll;
  width: 80%;
  scroll-snap-type: y mandatory;
  max-width: 500px;
  margin-top: 50px;
  border-radius: 20px;
}

.app__videos::-webkit-scrollbar {
  display: none;
}

.app__videos {
  overflow: none;
  -ms-overflow: none;
  scrollbar-width: none;
}